/* Feature Area css
============================================================================================ */
.app_feature_area{
    padding: 100px 0px;
    .main_title{
        padding-bottom: 55px;
    }
}
.app_feature_inner{

}
.app_round_image{
    position: relative;
    padding-top: 80px;
    text-align: center;
    .round_c{
        animation: 10s round_image infinite linear;
    }
    .app_mobile{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.app_feature_item_inner{
    text-align: right;
    padding-top: 245px;
    &.left_feature{
        text-align: left;
        .app_feature_item{
            .round_icon{
                left: -94px;
            }
        }
    }

}
.app_feature_item{
    margin-bottom: 70px;
    position: relative;
    h4{
        font-size: 18px;
        color: $dip;
        font-family: $mon;
        letter-spacing: .36px;
        padding-bottom: 17px;
        @include transition;
    }
    p{
        font-size: 14px;
        line-height: 27px;
        color: $pfont;
        font-family: $pop;
    }
    &:last-child{
        margin-bottom: 0px;
    }
    .round_icon{
        height: 58px;
        width: 58px;
        text-align: center;
        line-height: 57px;
        border-radius: 50%;
        font-size: 24px;
        position: absolute;
        right: -94px;
        background: rgba(218,202,252,1);
        background: -moz-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218,202,252,1)), color-stop(100%, rgba(158,203,252,1)));
        background: -webkit-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: -o-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dacafc', endColorstr='#9ecbfc', GradientType=1 );
        z-index: 1;
        top: -28px;
        &:before{
            content: "";
            height: 56px;
            width: 56px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            right: 1px;
            top: 1px;
            z-index: 1;
        }
        &:after{
            content: "";
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: rgba(218,202,252,1);
            background: -moz-linear-gradient(45deg, rgba(218,202,252,.4) 0%, rgba(158,203,252,.4) 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218,202,252,.4)), color-stop(100%, rgba(158,203,252,1)));
            background: -webkit-linear-gradient(45deg, rgba(218,202,252,.4) 0%, rgba(158,203,252,.4) 100%);
            background: -o-linear-gradient(45deg, rgba(218,202,252,.4) 0%, rgba(158,203,252,.4) 100%);
            background: -ms-linear-gradient(45deg, rgba(218,202,252,.4) 0%, rgba(158,203,252,.4) 100%);
            background: linear-gradient(45deg, rgba(218,202,252,.4) 0%, rgba(158,203,252,.4) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dacafc', endColorstr='#9ecbfc', GradientType=1 );
            position: absolute;
            top: -3px;
            left: -3px;
            z-index: -1;
            animation: runpulse 3s infinite linear;
            animation-delay: 1s;
        }
        i{
            background: -webkit-linear-gradient(left, #dbcafc, #9eccfc);
            background: linear-gradient(left, #dbcafc, #9eccfc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: 3;
            position: relative;
        }
    }
    &.app_middle{
        max-width: 275px;
        margin: auto;
        text-align: center;
        padding-top: 50px;
        .round_icon{
            right: auto;
            left: 50%;
            top: -32px;
            transform: translateX(-50%);
        }
    }
    &:hover{
        h4{
            background: -webkit-linear-gradient(left, #dbcafc, #9eccfc);
            background: linear-gradient(left, #dbcafc, #9eccfc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
/* End Feature Area css
============================================================================================ */

/* Choose Us Area css
============================================================================================ */
.choose_us_area{
    background: #EFF1FF;
    min-height: 770px;
    position: relative;
    padding-top: 30px;
    margin-top: 90px;
    &:before{
        content: "";
        position: absolute;
        top: -94px;
        left: 50%;
        transform: translateX(-50%);
        background: url(../img/triangle-shap-1.png) no-repeat scroll center center;
        background-size: cover;
        width: 100%;
        min-height: 94px;
    }
}
.left_choose_image{
    position: relative;
    min-height: 740px;
	overflow: hidden;
    ul{
        li{
            position: absolute;
            left: 0px;
            top: 140px;
            &:nth-child(2){
                top: auto;
                bottom: -20px;
            }
            &:nth-child(3){
                left: calc(50% - 280px);
                top: calc(50% - 70px);
            }
            &:nth-child(4){
                top: auto;
                bottom: 40px;
                left: calc(50% - 220px);
            }
            &:nth-child(5){
                top: -38px;
                left: calc(50% - 238px);
            }
            &:nth-child(6){
                top: auto;
                bottom: 180px;
                left: calc(50% + 90px);
            }
            &:nth-child(7){
                left: calc(50% + 75px);
                top: 64px;
            }
            &:nth-child(8){
                left: auto;
                right: 112px;
                top: 260px;
            }
        }
    }
}

.right_choose_image{
    max-width: 570px;
    padding-right: 30px;
    padding-top: 90px;
}
.choose_item_inner{
    margin-top: 44px;
    .col-md-6{
        &:nth-child(3){
            .choose_item{
                margin-bottom: 0px;
            }
        }
        &:last-child{
            .choose_item{
                margin-bottom: 0px;
            }
        }
    }
    .choose_item{
        margin-bottom: 50px;
        .media{
            .media-left{
                padding-right: 15px;
                a{
                    background: rgba(218,202,252,1);
                    background: -moz-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
                    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218,202,252,1)), color-stop(100%, rgba(158,203,252,1)));
                    background: -webkit-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
                    background: -o-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
                    background: -ms-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
                    background: linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dacafc', endColorstr='#9ecbfc', GradientType=1 );
                    height: 66px;
                    width: 66px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    &:before{
                        content: "";
                        height: 64px;
                        width: 64px;
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        background: #fff;
                        z-index: -1;
                        border-radius: 50%;
                    }
                }
                i{
                    font-size: 36px;
                    background: -webkit-linear-gradient(left, #dbcafc, #9eccfc);
                    background: linear-gradient(left, #dbcafc, #9eccfc);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    z-index: 3;
                    position: relative;
                    line-height: 61px;
                }
            }
            .media-body{
                vertical-align: middle;
                h4{
                    font-size: 18px;
                    font-family: $mon;
                    color: $dip;
                    letter-spacing: .36px;
                    padding-bottom: 5px;
                }
                p{
                    font-size: 14px;
                    font-family: $pop;
                    color: $pfont;
                    letter-spacing: .28px;
                }
            }
        }
    }
}

/* End Choose Us Area css
============================================================================================ */

/* Satisfaction Area css
============================================================================================ */
.satisfaction_area{
    clear: both;
    padding: 100px 0px 0px 0px;
    .main_title{
        margin-bottom: 65px;
    }
}
.satisfaction_item_inner{

}
.satisfaction_item{
    text-align: center;
    .sat_icon{
        background: rgba(218,202,252,1);
        background: -moz-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218,202,252,1)), color-stop(100%, rgba(158,203,252,1)));
        background: -webkit-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: -o-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        background: linear-gradient(45deg, rgba(218,202,252,1) 0%, rgba(158,203,252,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dacafc', endColorstr='#9ecbfc', GradientType=1 );
        height: 58px;
        width: 58px;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        z-index: 2;
        &:before{
            content: "";
            height: 56px;
            width: 56px;
            background: #fff;
            position: absolute;
            left: 1px;
            top: 1px;
            border-radius: 50%;
            z-index: -1;
        }
        i{
            font-size: 24px;
            background: -webkit-linear-gradient(left, #dbcafc, #9eccfc);
            background: linear-gradient(left, #dbcafc, #9eccfc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            line-height: 60px;
        }
    }
    h4{
        font-size: 18px;
        color: $dip;
        font-family: $mon;
        letter-spacing: .36px;
        padding: 30px 0px 22px 0px;
    }
    p{
        font-size: 14px;
        line-height: 26px;
        font-family: $pop;
        color: $pfont;
    }
}
/* End Satisfaction Area css
============================================================================================ */

/* Install App Area css
============================================================================================ */
.install_app_area{
    overflow: hidden;
    background: rgba(237,230,253,1);
    background: -moz-linear-gradient(left, rgba(237,230,253,1) 0%, rgba(210,230,253,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,230,253,1)), color-stop(100%, rgba(210,230,253,1)));
    background: -webkit-linear-gradient(left, rgba(237,230,253,1) 0%, rgba(210,230,253,1) 100%);
    background: -o-linear-gradient(left, rgba(237,230,253,1) 0%, rgba(210,230,253,1) 100%);
    background: -ms-linear-gradient(left, rgba(237,230,253,1) 0%, rgba(210,230,253,1) 100%);
    background: linear-gradient(to right, rgba(237,230,253,1) 0%, rgba(210,230,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede6fd', endColorstr='#d2e6fd', GradientType=1 );
    padding-top: 140px;
    padding-bottom: 85px;
    .install_left_content{
        max-width: 555px;
        float: right;
        padding-top: 115px;
        .left_title{

        }
        .install_content{
            h5{
                font-size: 20px;
                font-family: $mon;
                letter-spacing: .4px;
                color: $dip;
                font-weight: normal;
                padding-bottom: 15px;
            }
            p{
                font-size: 14px;
                line-height: 26px;
                color: $pfont;
                font-family: $pop;
                padding-bottom: 25px;
                padding-right: 50px;
                & + p{
                    padding-bottom: 40px;
                }
            }
            .gradient_bg_btn{
                margin-right: 15px;
            }
        }
    }
}
.install_app_area{

}
/* End Install App Area css
============================================================================================ */

/* Question Area css
============================================================================================ */
.question_area{
    background: #EFF1FF;
    padding: 100px 0px;
    .main_title{
        padding-bottom: 65px;
    }
}
.left_question_inner{
    .panel-group{
        .panel-default{
            border-radius: 0px;
            background: #fff;
            border: none;
            margin-top: 30px;
            box-shadow: 0px 3px 12.35px 0.65px rgba(0, 0, 0, 0.1);
            &:first-child{
                margin-top: 0px;
            }
            .panel-heading{
                padding: 0px;
                border: none;
                background: transparent;
                border-radius: 0px;
                .panel-title{
                    a{
                        font-size: 18px;
                        color: $dip;
                        font-family: $mon;
                        font-weight: normal;
                        line-height: 70px;
                        padding: 0px 25px;
                        display: block;
                        position: relative;
                        i{
                            float: right;
                            font-size: 12px;
                            text-align: center;
                            height: 20px;
                            line-height: 20px;
                            width: 20px;
                            background: rgba(224,212,252,1);
                            background: -moz-linear-gradient(45deg, rgba(224,212,252,1) 0%, rgba(177,213,252,1) 100%);
                            background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224,212,252,1)), color-stop(100%, rgba(177,213,252,1)));
                            background: -webkit-linear-gradient(45deg, rgba(224,212,252,1) 0%, rgba(177,213,252,1) 100%);
                            background: -o-linear-gradient(45deg, rgba(224,212,252,1) 0%, rgba(177,213,252,1) 100%);
                            background: -ms-linear-gradient(45deg, rgba(224,212,252,1) 0%, rgba(177,213,252,1) 100%);
                            background: linear-gradient(45deg, rgba(224,212,252,1) 0%, rgba(177,213,252,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0d4fc', endColorstr='#b1d5fc', GradientType=1 );
                            border-radius: 50%;
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            right: 25px;
                            transform: translateY(-50%);
                            z-index: 3;
                            &:after{
                                content: "";
                                height: 18px;
                                width: 18px;
                                background: #fff;
                                position: absolute;
                                left: 1px;
                                top: 1px;
                                border-radius: 50%;
                                z-index: -1;
                            }
                            &:before{
                                background: -webkit-linear-gradient(left, #dbcafc, #9eccfc);
                                background: linear-gradient(left, #dbcafc, #9eccfc);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                            & + i{
                                display: none;
                            }
                        }
                        &.collapsed{
                            i{
                                & + i{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
            .panel-collapse{
                .panel-body{
                    border: none;
                    padding-top: 0px;
                    padding-left: 25px;
                    padding-right: 90px;
                    padding-bottom: 35px;
                    font-size: 14px;
                    line-height: 27px;
                    color: $pfont;
                    font-family: $pop;
                }
            }
        }
    }
}
.right_question_img{
    text-align: center;
    img{
        max-width: 100%;
        display: inline-block;
    }
}
/* End Question Area css
============================================================================================ */

/* Powerfull Area css
============================================================================================ */
.powerfull_area{
    overflow: hidden;
    display: flex;
    background: #f6f7fa;
    margin-top: -35px;
    .power_left_img{
        text-align: center;
        flex: 1;
        align-self: center;
        vertical-align: middle;
        img{
            max-width: 100%;
        }
    }
    .pawerfull_area_inner{
        display: flex;
        width: 100%;
    }
    .col-md-5{
        display: flex;
    }
    .col-md-7{
        display: flex;
    }
    .power_right_content{
        display: flex;
        .power_right_content_inner{
            max-width: 620px;
            margin-left: 70px;
            flex: 1;
            align-self: center;
            vertical-align: middle;
            padding: 112px 0px 120px 0px;
            h3{

            }
            p{
                font-size: 16px;
                line-height: 28px;
                color: #8e8e8e;
                font-family: $hee;
                letter-spacing: .28px;
                font-weight: 400;
                padding: 47px 0px;
            }
            ul{
                overflow: hidden;
                margin-bottom: -30px;
                li{
                    width: 50%;
                    float: left;
                    overflow: hidden;
                    margin-bottom: 30px;
                    a{
                        font-size: 20px;
                        font-family: $hee;
                        color: #585858;
                        letter-spacing: .40px;
                        font-weight: 500;
                        img{
                            padding-right: 16px;
                        }
                    }
                }
            }
        }
    }
}
/* End Powerfull Area css
============================================================================================ */

/* Provide Feature Area css
============================================================================================ */
.provide_feature_area{
    overflow: hidden;
    padding-top: 112px;
    .p_feature_left{
        width: calc(50% + 146px);
        float: left;
        overflow: hidden;
        .p_f_left_content{
            max-width: 715px;
            float: right;
            .single_title{
                padding-bottom: 75px;
                max-width: 552px;
            }
        }
    }
    .p_feature_right{
        width: calc(50% - 146px);
        float: right;
        overflow: hidden;
        .p_feature_img{
            padding-top: 170px;
        }
    }
}
.p_left_item_inner{
    .p_item{
        width: calc(100% / 2);
        float: left;
        overflow: hidden;
        padding-right: 50px;
        margin-bottom: 45px;
        .media{
            .media-left{
                padding-right: 30px;
            }
            .media-body{
                h4{
                    font-size: 18px;
                    font-family: $hee;
                    font-weight: 500;
                    color: #121921;
                    letter-spacing: .72px;
                    padding-bottom: 20px;
                }
                p{
                    font-size: 14px;
                    color: #8e8e8e;
                    font-family: $hee;
                    font-weight: 400;
                    letter-spacing: .56px;
                    line-height: 24px;
                }
            }
        }
        &:nth-last-child(-n+2){
            margin-bottom: 0px;
        }
    }
}
/* End Provide Feature Area css
============================================================================================ */

/* Advanced Settings Area css
============================================================================================ */
.advanced_settings_area{
    margin-top: 360px;
}
.advanced_settings_inner{
    overflow: hidden;
    padding-bottom: 100px;
    display: flex;
    .left_advanced{
        width: calc(100% / 2);
        float: left;
        overflow: hidden;
    }
    .right_advanced{
        width: calc(100% / 2);
        float: right;
        overflow: hidden;
        display: flex;
        .right_advanced_text{
            max-width: 575px;
            flex: 1;
            align-self: center;
            vertical-align: middle;
            width: 100%;
        }
    }
}
.left_advanced_img{
    img{
        max-width: 100%;
    }
}
.right_advanced_text{
    padding-left: 15px;
    h3{
        font-size: 30px;
        font-family: $hee;
        font-weight: 600;
        color: #121921;
        padding-bottom: 50px;
    }
    p{
        font-size: 14px;
        color: #8e8e8e;
        font-family: $hee;
        letter-spacing: .28px;
    }
    .settings_img{
        margin-left: -10px;
        margin-top: 30px;
        margin-bottom: 50px;
        overflow: hidden;
        a{
            width: calc(100% / 2);
            float: left;
            display: inline-block;
            overflow: hidden;
            img{
                max-width: 100%;
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    .black_d_btn_r{

    }
}
/* End Advanced Settings Area css
============================================================================================ */

/* Asked Ques Area css
============================================================================================ */
.asked_ques_area{
    background: #f6f7fa;
    padding: 110px 0px;
}
.asked_ques_inner{
    margin-bottom: -30px;
    overflow: hidden;
    .asked_item{
        background: #fff;
        position: relative;
        margin-bottom: 30px;
        padding: 45px 40px 40px 50px;
        &:before{
            content: "";
            width: 3px;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            background-image: -moz-linear-gradient( 90deg, rgb(255,0,132) 0%, rgb(155,27,229) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(255,0,132) 0%, rgb(155,27,229) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(255,0,132) 0%, rgb(155,27,229) 100%);
        }
        h4{
            font-size: 18px;
            font-family: $hee;
            color: #121921;
            padding-bottom: 25px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
            color: #8e8e8e;
            font-family: $hee;
            letter-spacing: .28px;
            & + p{
                padding-top: 26px;
            }
        }
    }
}
/* End Asked Ques Area css
============================================================================================ */

/* Great Feature Area css
============================================================================================ */
.great_feature_area{
    background: #f6f7fa;
    padding: 100px 0px;
}
.great_feature_inner{
    margin-bottom: -40px;
    overflow: hidden;
    .great_feature_item{
        text-align: center;
        margin-bottom: 40px;
        h4{
            font-size: 20px;
            font-family: $hee;
            font-weight: bold;
            color: #2fd2f0;
            letter-spacing: .40px;
            padding: 8px 0px 16px 0px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
            color: #6d89a1;
            font-family: $hee;
            letter-spacing: .28px;
            max-width: 290px;
            margin: auto;
        }
    }
}
/* End Great Feature Area css
============================================================================================ */

/*app_feature_area_two css
============================================================================================ */
.app_feature_area_two{
    position: relative;
    padding: 100px 0px 100px;
    overflow: hidden;
    .img{
        position: absolute;
        left: 15px;
        @media (max-width:1480px){
            top: 79px;
            left: -16px;
        }
    }
    .imag-two{
        left: 115px;
        @media (max-width:1480px){
            left: 85px;
        }
    }
    .app_feature_inner{
        margin-top: 50px;
        .app_feature_item{
            padding-right: 100px;
            margin-top: 30px;
            &:hover{
                h4{
                    color: $blue;
                    background: transparent;
                    -webkit-text-fill-color: initial;
                }
            }
        }
    }
}
.icon-round{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 58px;
    color: #fff;
    background: $blue;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
}

/*app_feature_area_two css
============================================================================================ */

/*app_feature_area_two css
============================================================================================ */
.service_seven_area{
	overflow: hidden;
}
.service_seven_inner{
	display: flex;
	flex-wrap: wrap;
	.service_s_item{
		flex: 0 0 33.33%;
		max-width: 33.33%;
		background: #fafafa;
		padding: 40px 35px;
		border-right: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
		@include transition;
		h4{
			font-size: 18px;
			color: $dip;
			font-family: $mon;
			padding-top: 15px;
		}
		p{
			font-size: 14px;
			line-height: 27px;
			color: #6b6d6f;
			font-family: $pop;
			padding-right: 20px;
			padding: 12px 0px 18px 0px;
		}
		.theme_btn{
			background: transparent;
			border: 1px solid #7db9e8;
			color: #898989;
			line-height: 34px;
			padding-top: 0px;
			padding-bottom: 0px;
			display: inline-block;
			margin-top: 0px;
			@include transition;
			&:hover{
				color: #7db9e8;
			}
		}
		&:nth-child(n+4){
			border-bottom: 0px;
		}
		&:nth-child(6){
			border-right: 0px;
		}
		&:nth-child(3){
			border-right: 0px;
		}
		&:hover{
			background: #fff;
			box-shadow: 0px 4px 11.4px 0.6px rgba(0, 0, 0, 0.1);
			transform: scale(1.001);
		}
	}
}
.seven_server{
	.purchase-btn{
		background: #ffffff;
		color: $pfont;
		border-radius: 25px !important;
		&:hover{
			background: #fff;
			color: #7db9e8;
		}
	}
}
/*app_feature_area_two css
============================================================================================ */

/* Woking Process Area css
============================================================================================ */
.working_process{
	.main_title2{

	}
}
.process_feature{
	position: relative;
	&:before{
		content: "";
		height: 1px;
		width: 100%;
		border-bottom: 1px dashed #e0e0e0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 108px;
		max-width: 940px;
		z-index: -1;
	}
	&:after{
		content: "";
		height: 1px;
		width: 100%;
		border-bottom: 1px dashed #e0e0e0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 115px;
		max-width: 940px;
		z-index: -1;
	}
	.process_f_item{
		text-align: center;
		h4{
			font-size: 24px;
			color: #4f4f4f;
			font-family: $mon;
			font-weight: 300;
			padding-bottom: 30px;
		}
		i{
			height: 100px;
			width: 100px;
			border-radius: 50%;
			background: #fff;
			box-shadow: 0px 20px 32.68px 5.32px rgba(0, 0, 0, 0.1);
			display: block;
			text-align: center;
			font-size: 46px;
			color: #857de8;
			line-height: 100px;
			margin: auto;
		}
		p{
			font-size: 14px;
			line-height: 26px;
			color: $pfont;
			padding-top: 40px;
		}
	}
}
/* End Woking Process Area css
============================================================================================ */

/* About Screen Nine Area css
============================================================================================ */
.about_nine_area{
	padding-top: 120px;
	.row{
		display: flex;
	}
	.col-md-7{
		display: flex;
	}
	.ab_nine_text{
		align-self: center;
		vertical-align: middle;
		h4{
			font-size: 25px;
			color: #272727;
			font-family: $hee;
			font-weight: 500;
			text-transform: uppercase;
			padding-bottom: 45px;
		}
		p{
			font-size: 16px;
			line-height: 28px;
			font-family: $hee;
			color: #585858;
			& + p{
				padding-top: 25px;
				padding-bottom: 45px;
			}
		}
		a{
			& + a{
				padding-left: 20px;
			}
		}
	}
	.ab_nine_screen{
		text-align: center;
		img{
			box-shadow: 21.213px 21.213px 46px 0px rgba(0, 0, 0, 0.3);
			border-radius: 50px;
		}
	}
}
/* End About Screen Nine Area css
============================================================================================ */

/* Nine Product Feature Area css
============================================================================================ */
.product_feature_area{
	padding-top: 120px;
	padding-bottom: 100px;
	.nine_title{
		padding-bottom: 120px;
	}
	.nine_p_f_img{
		margin-left: -90px;
	}
}
.n_product_inner{
	overflow: hidden;
	.n_product_item{
		border: 1px solid #ebebeb;
		padding: 35px 25px 45px 25px;
		position: relative;
		margin-top: 25px;
		box-shadow: 5px 8.66px 27px 0px rgba(0, 0, 0, 0.05);
		.icon_box{
			height: 65px;
			width: 65px;
			background: #eb484d;
			text-align: center;
			position: absolute;
			left: 0px;
			top: 0px;
			line-height: 62px;
			border-bottom-right-radius: 4px;
		}
		h4{
			padding-left: 55px;
			padding-bottom: 25px;
			font-size: 22px;
			color: #272727;
			font-family: $hee;
		}
		p{
			font-size: 16px;
			line-height: 28px;
			color: #8e8e8e;
			font-family: $hee;
		}
	}
}
/* End Nine Product Feature Area css
============================================================================================ */

/* Powerfull Area css
============================================================================================ */
.ten_powerfull_area{
	.powerfull_inner{
		text-align: center;
		position: relative;
		max-width: 865px;
		margin: auto;
//		&:before{
//			content: "";
//			background: url(../img/feature/f-dotted.png) no-repeat scroll center center;
//			width: 1253px;
//			height: 120px;
//			position: absolute;
//			top: 30%;
//			right: 50px;
//		}
		.pw_item{
			text-align: center;
			i{
				height: 72px;
				width: 72px;
				border-radius: 50%;
				text-align: center;
				font-size: 40px;
				color: #8f8f8f;
				background: #fff;
				line-height: 70px;
				display: inline-block;
				@include transition;
			}
			h4{
				font-size: 16px;
				color: #a4acb7;
				font-family: $hee;
				font-family: 500;
				@include transition;
				padding-top: 13px;
			}
			&:hover{
				i{
					background: #0083ff;
					color: #fff;
					box-shadow: 0px 20px 35px 0px rgba(0, 131, 255, 0.25);
				}
				h4{
					color: #0083ff;
				}
			}
		}
	}
}
.ten_perfomance{
	padding-top: 60px;
	.ten_p_img{
		text-align: center;
		margin-left: -40px;
	}
	.ten_p_text{
		h3{
			font-size: 28px;
			color: #585858;
			font-family: $hee;
			font-weight: 500;
			line-height: 36px;
			padding-bottom: 40px;
		}
		p{
			font-size: 16px;
			line-height: 28px;
			font-family: $hee;
			color: #8e8e8e;
		}
		.theme_btn{
			border: 2px solid #585858;
			height: 40px;
			padding: 0px 30px;
			display: inline-block;
			line-height: 36px;
			background: transparent;
			color: #585858;
			margin-top: 80px;
		}
	}
}

.ten_discover_area{
	background: #0083ff;
	padding-top: 100px;
	padding-bottom: 200px;
	position: relative;
	&:before{
		content: "";
		background: url(../img/feature/ten-f-mobile.png) no-repeat scroll center center;
		max-width: 880px;
		width: 100%;
		height: 184px;
		position: absolute;
		left: 50%;
		bottom: -90px;
		transform: translateX(-50%);
	}
}
.ten_discover_inner{
	margin-bottom: -50px;
	overflow: hidden;
	.media{
		margin-bottom: 50px;
		.media-left{
			padding-right: 15px;
			.ten_d_icon{
				height: 80px;
				width: 80px;
				border: 6px solid #2695ff;
				border-radius: 50%;
				background: #fff;
				text-align: center;
				line-height: 65px;
			}
		}
		.media-body{
			h4{
				font-size: 22px;
				font-family: $hee;
				font-weight: bold;
				color: #fff;
				padding-bottom: 22px;
				padding-top: 15px;
			}
			p{
				font-size: 16px;
				line-height: 28px;
				color: #e9e9e9;
				font-family: $hee;
				font-weight: normal;
			}
		}
	}
}

.ten_screen_area{
	padding-top: 180px;
	padding-bottom: 100px;
	.ten_d_text{
		h2{
			span{
				color: #0083ff;
			}
		}
		p{
			color: #a5acb7;
		}
	}
}
.flip_ten_slider{
	.flip-items{
		.flipster__item--past{
			.flipster__item__content{
				transform: scale(.75) rotateY(18deg) !important;
				opacity: .5;
			}
		}
		.flipster__item--future{
			.flipster__item__content{
				transform: scale(.75) rotateY(-18deg) !important;
				opacity: .5;
			}
		}
	}
}
/* End Powerfull Area css
============================================================================================ */

/* End Powerfull Area css
============================================================================================ */
.ten_watch_area{
	display: flex;
	flex-wrap: wrap;
	min-height: 740px;
	background: #fafcff;
	position: relative;
	&:before{
		content: "";
		background: url(../img/ten-mobile-2.png) no-repeat scroll center center;
		width: 256px;
		height: 477px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 1;
	}
	.left_watch{
		flex: 0 0 50%;
		max-width: 50%;
		background: #0083ff;
		.left_w_text{
			max-width: 580px;
			float: right;
			width: 100%;
			padding-top: 180px;
		}
	}
	.right_watch{
		flex: 0 0 50%;
		max-width: 50%;
		.right_w_text{
			padding-top: 180px;
		}
	}
}
.watch_text_item{
	max-width: 275px;
	margin-bottom: 85px;
	position: relative;
	&:before{
		content: "";
		background: url(../img/icon/shap-1.png) no-repeat scroll center center;
		width: 224px;
		height: 89px;
		position: absolute;
		right: -224px;
		top: 10px;
		z-index: 2;
	}
	h4{
		font-size: 26px;
		color: #fff;
		font-family: $hee;
		font-weight: 500;
		padding-bottom: 20px;
	}
	p{
		font-size: 16px;
		line-height: 28px;
		font-family: $rob;
		color: #e9e9e9;
	}
	&:last-child{
		margin-bottom: 0px;
		margin-left: 95px;
		&:before{
			background: url(../img/icon/shap-2.png) no-repeat scroll center center;
			width: 102px;
			height: 26px;
			right: -120px;
			top: 30px;
		}
	}
}
.watch_text_item_two{
	max-width: 275px;
	margin-bottom: 85px;
	position: relative;
	margin-left: 208px;
	&:before{
		content: "";
		background: url(../img/icon/shap-4.png) no-repeat scroll center center;
		width: 105px;
		height: 26px;
		left: -140px;
		position: absolute;
		top: 30px;
		z-index: 2;
	}
	h4{
		font-size: 26px;
		color: #585858;
		font-family: $hee;
		font-weight: 500;
		padding-bottom: 20px;
	}
	p{
		font-size: 16px;
		line-height: 28px;
		font-family: $rob;
		color: #8e8e8e;
	}
	&:first-child{
		margin-left: 300px;
		&:before{
			content: "";
			background: url(../img/icon/shap-3.png) no-repeat scroll center center;
			width: 224px;
			height: 87px;
			left: -245px;
			position: absolute;
			top: 15px;
			z-index: 2;
		}
	}
}
/* End Powerfull Area css
============================================================================================ */

/* End Powerfull Area css
============================================================================================ */
.gadget_headphone{
	padding-top: 100px;
	padding-bottom: 65px;
	.g_head_inner{
		.g_left_side{
			position: relative;
			img{
				max-width: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				&:nth-child(2){
					margin-left: 75px;
					z-index: 1;
				}
				&:nth-child(3){
					margin-left: 165px;
					z-index: 1;
				}
			}
		}
		.g_right_side{
			h5{
				font-size: 14px;
				color: #8e8e8e;
				font-family: $hee;
				text-transform: uppercase;
				padding-bottom: 12px;
			}
			h4{
				font-size: 30px;
				font-family: $hee;
				color: #272727;
				font-weight: bold;
			}
			p{
				font-size: 14px;
				line-height: 24px;
				color: #8e8e8e;
				font-family: $hee;
				padding: 35px 0px 40px 0px;
			}
			h3{
				font-size: 20px;
				color: #272727;
				font-family: $hee;
				padding-bottom: 22px;
			}
		}
	}
}
.pre_or_btn{
	background: #e9e9e9;
	text-transform: uppercase;
	padding: 0px 32px;
	font-size: 14px;
	line-height: 42px;
	display: inline-block;
	color: #5f5f5f;
	text-transform: uppercase;
	font-weight: 500;
	@include transition;
	&:hover{
		background: #d30039;
		color: #fff;
	}
}

/* End Powerfull Area css
============================================================================================ */

/* Gadget Feature Area css
============================================================================================ */
.gadget_feature_area{
	padding-top: 100px;
}
.gd_feature_inner{
	margin-bottom: 90px;
	.gd_f_img{
		position: relative;
		&:before{
			content: "";
			height: 15px;
			background: #e9e9e9;
			width: 165px;
			position: absolute;
			left: 115px;
			top: 50px;
			z-index: -1;
		}
		.one_text{
			font-size: 90px;
			color: #e9e9e9;
			font-family: $hee;
			font-weight: 900;
			vertical-align: bottom;
			padding-bottom: 30px;
			display: inline-block;
		}
	}
	.gd_f_text{
		max-width: 340px;
		padding-top: 20px;
		h4{
			font-size: 18px;
			color: #272727;
			font-family: $hee;
			font-weight: bold;
			text-transform: uppercase;
			padding-bottom: 15px;
		}
		p{
			font-size: 14px;
			line-height: 24px;
			font-family: $hee;
			font-weight: normal;
			padding-bottom: 15px;
		}
		a{
			font-size: 14px;
			color: #272727;
			font-family: $hee;
			font-weight: 500;
		}
	}
	&.right{
		.gd_f_text{
			float: right;
		}
		.gd_f_img{
			text-align: right;
			&:before{
				left: 25px;
			}
		}
	}
	&:last-child{
		margin-bottom: 0px;
		.gd_f_img{
			&:before{
				left: auto;
				right: 35px;
			}
		}
	}
}
/* End Gadget Feature Area css
============================================================================================ */
