.team_members_area{
    padding: 100px 0px;
}
.team_slider_two{
    .team_slider_item{
        text-align: center;
        position: relative;
        cursor: pointer;
        .team_hover{
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            // transform: translateY(69px);
            // transition: all 0.40s linear;
        }
        ul{
            background:#f5f5f5;
            position: relative;
            // transform: translateY(30px);
            // transition: all 0.50s ease;
            // transition-delay: 0.30s;
            z-index: -1;
            opacity: 0;
            li{
                display: inline-block;
                a{
                    font-size: 16px;
                    line-height: 30px;
                    color: $blue;
                    padding: 0px 15px;
                    display: inline-block;
                }
                & + li{
                    border-left: 1px solid #ededed;
                }
            }
        }
        .team_inner_text{
            color: #fff;
            background: rgba(52, 152, 219, 0.90);
            text-align: center;
            padding: 10px 0px;
            z-index: 2;
            h4{
                font: 700 16px/25px $mon;
                text-transform: uppercase;
            }
            h5{
                font: 400 14px/24px $pop;
            }
        }
        &:hover{
            .team_hover{
                transform: translateY(0);
            }
            ul{
                transform: translateY(0);
                opacity: 1
            }
        }
    }
}

/* Ten Team Area css
============================================================================================ */
.ten_team_area{

}
.ten_team_slider{
	.item{
		.ten_team_item{
			text-align: center;
			position: relative;
			h4{
				font-size: 18px;
				color: #585858;
				font-family: $hee;
				font-weight: 500;
				padding-top: 20px;
			}
			p{
				font-size: 14px;
				color: #8e8e8e;
				font-family: $hee;
				padding-top: 4px;
			}
			.ten_team_hover{
				position: absolute;
				width: 100%;
				padding: 0px 16px;
				z-index: 1;
				bottom: 0px;
				left: 0px;
				opacity: 0;
				@include transition;
				transform: rotateX(-45deg);
				.ten_team_h_inner{
					background: rgba(0, 131, 255, .95);
					padding-top: 65px;
					padding-bottom: 65px;
					h4{
						color: #fff;
						font-family: $hee;
						font-weight: bold;
						font-size: 20px;
						padding-top: 0px;
					}
					h5{
						font-size: 16px;
						color: #e9e9e9;
						font-family: $hee;
						padding-top: 10px;
						padding-bottom: 35px;
					}
					h6{
						font-size: 16px;
						color: #fff;
						font-family: $hee;
						font-weight: 500;
						padding-bottom: 15px;
					}
					ul{
						li{
							display: inline-block;
							margin-right: 8px;
							a{
								height: 28px;
								width: 28px;
								background: #fff;
								color: #0083ff;
								font-size: 12px;
								display: inline-block;
								border-radius: 50%;
								line-height: 28px;
							}
							&:last-child{
								margin-right: 0px;
							}
						}
					}
				}
			}
			&:hover{
				h4{
					opacity: 0;
				}
				p{
					opacity: 0;
				}
				.ten_team_hover{
					opacity: 1;
					transform: rotateX(0deg);
					h4{
						opacity: 1;
					}
				}
			}
		}
	}
	.owl-dots{
		margin-top: 55px;
		.owl-dot{
			&.active{
				background: #0082ff;
			}
		}
	}
}
/* End Ten Team Area css
============================================================================================ */
